@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
.light-body {
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 57%, rgba(230,247,255,1) 100%);
}
.dark-body {
  background-image: linear-gradient(
    to right top,
    #19173b,
    #15183a,
    #111938,
    #0e1a36,
    #0c1b34,
    #0c1d36,
    #0c1f39,
    #0c213b,
    #0d2543,
    #0f294b,
    #112d54,
    #14315c
  );
  color: #fff;
}
}
